.theme_btn{

width:45px;
height:45px;

border:none;
border-radius:50%;

background:#1e293b;
color:white;

font-size:22px;

display:flex;
justify-content:center;
align-items:center;

cursor:pointer;

transition:.3s;

}

.theme_btn:hover{

background:#ef4444;

transform:rotate(180deg);

}